.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    background-image: url(https://images.alphacoders.com/694/thumb-1920-694756.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;  /*100 del ancho y alto de la ventana*/
}

.header{
    display: flex;
}

.header__image-container{
    display: flex;
    max-width:250px;
    max-height:250px; 
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    transition: all 0.25s;    
}

.header__image-container:hover{
    transform: scale(1.25);
}

.header__image{
    width: 100%;
}

.main{
    display: flex;
}

.article{
    display: flex;
}

.article-container{
    display: flex;
    padding: 0 2rem;
}

.article__card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: aqua;
    max-width: 256px;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.article__card-title{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.article__card-keywords{
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.article__card-description{
    margin: 0;
    text-align: center;
    font-size: .75rem;
}

.article__card-description::after{
    content: '--😎--';
}
 
.article__card-description::before{
    content: '--😎--';
}

.footer{
    display: flex;
}

.footer-nav{
    display: flex;
}

.footer-nav-container{
    display: flex;
}

.footer-nav__link-list{
    display: flex;
    gap: .8rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav__link-item{
    display: flex;
}

.footer-nav__link{
    display: flex;
    width: 1.75rem;
    transition: all 0.75s;    
}

.footer-nav__link:hover {
    filter: brightness(150%);
    transform: scale(1.25) rotate(720deg);
}

.footer-nav__link_image{
    width:100%;
}