.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    background-image: url(https://images.alphacoders.com/694/thumb-1920-694756.jpg);
    background-position: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
}

.header__image-container{
    display: flex;
    max-width:250px;
    max-height:250px; 
    border-radius: 50%;
    overflow:hidden;
}

.header__image{
    width: 100%;
}

.footer{

}
.footer-nav{

}
.footer-nav-containe{

}
.footer-nav__link-list{

}
.footer-nav__link-item{

}
.footer-nav__link{

}
.footer-nav__link_image{
    
}